*.log
.DS_Store
compose/micro-service/etcd/data
compose/micro-service/elastic7.13.4/data
compose/micro-service/kafka1/data*
compose/micro-service/kafka2/data*
compose/micro-service/kafka3/data*
compose/docker-elk/filebeatdata
compose/docker-elk/logs*
